/* Variables */
$primary-color: #2c4343;
$secondary-color: #88a8a8;
$text-color: #F2F2F2;
$card-bg-color: $primary-color;
$font-family: "Arial, sans-serif";
$primary-color-background: #698C8C; 
$secundary-color-background: hsl(186, 19%, 21%);
$white-color-background: #F2F2F2; 
